@model MVCWebSite.Models.ProdottoModel

@{
    ViewBag.Title = "Home Page";
}

<!-- include the js -->
<script src="~/Scripts/alertify.min.js"></script>
<!-- include the style -->
<link rel="stylesheet" href="~/Content/alertifyjs/alertify.min.css" />
<!-- include a theme -->
<link rel="stylesheet" href="~/Content/alertifyjs/themes/default.min.css" />

@if (ViewBag.Alert == true)
{
    <script>alertify.error('@ViewBag.Message');</script>
}
@if (ViewBag.Success == true)
{
    <script>alertify.success('@ViewBag.SuccessMessage');</script>
}

<div class="jumbotron">
    <div class="title1">UNI-STORE</div>
    <p class="lead">Store d'abbiglimaneto dove puoi vendere e comprare in n vastissimo catalogo</p>
    <p><a href="https://localhost:44378/SingleProduct/CardProduct" class="btn btn-primary btn-lg">Go to Shop &raquo;</a></p>
</div>



<h2>Ecco gli ultimi prodotti venduti!</h2>


<div class="flex-container">
    @foreach (var el in Model.ListaProdotti)
    {

        <div class="cardProduct">
            @if (!File.Exists(Server.MapPath("~/ImmaginiProdotti/" + el.ImmagineProdotto))) //controllo se esiste il file
            {
                <img src="~/ImmaginiAmministratore/ProdottoGenerico.png" alt="Avatar" style="width:100%">
            }
            else
            {
                <img src="~/ImmaginiProdotti/@el.ImmagineProdotto" alt="Avatar" style="width:100%">
            }


            @Html.ActionLink("Vedi Prodotto", "SingleProduct", "SingleProduct", new { ASIN = el.ASIN }, null)

            <h1>@el.NomeProdotto</h1>
            <p class="priceProduct">€@el.CostoProdotto</p>
            <!--Passo il prodotto al carrello-->
            <p><button class="cardProductButton">@Html.ActionLink("Add Cart", "AddCartProduct", "SingleProduct", new { ASIN = el.ASIN, quantita = 1, costoProdotto = el.CostoProdotto }, null)</button></p>
        </div>


    }

</div>

@if (ViewBag.NextPage != null)
{
    <div style="float:right">
        @Html.ActionLink(" ", "CardProduct", "SingleProduct", new { page = ViewBag.NextPage }, new
{
style = "background: url('../ImmaginiAmministratore/nextPage.png') no-repeat center right;display:block; height:32px; width:32px;"
})
    </div>
}
@if (ViewBag.PreviousPage != null)
{
    <div style="float:left">
        @Html.ActionLink(" ", "CardProduct", "SingleProduct", new { page = ViewBag.PreviousPage }, new
{
style = "background: url('../ImmaginiAmministratore/previousPage.png') no-repeat center right;display:block; height:32px; width:32px;"
})
    </div>
}

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}